body{
  background: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
}
.logo{

  padding-left: 145px;
  padding-top:100px;
  padding-right: 100px;
  padding-bottom: 200px;
  border-bottom: 100px;
  text-align: center;
}
.logo p{
  color: white;
  font-size: 18px;
}
.logo img{
  border-bottom: 100px;
  padding-bottom: 50px;
}
.Breakfast{
  background: url("../images/foodtop/breakfast.jpg");
  color: white;
  text-align: center;
  vertical-align: middle;
  width: 110%;
  margin: :0px;
  padding: 65px;
}
.lunch{
  background: url("../images/foodtop/lunch.jpg");
  text-align: center;
  vertical-align: middle;
  width:110%;
  color: white;
  padding: 65px;
  margin: 0px;
}
.Dinner{
  background: url("../images/foodtop/dinner.jpg");
  margin: 0px;
  padding: 65px;
  width: 110%;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.party-time{
  background-color:#F15A29;
  height: 10px;
  color: white;
  padding-left: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 40px;
  width: 110%;

}
#background-foodsBg{
  background: url("../images/backgrounds/foodsBg.jpg");
}
.footer{
  background:url("../images/backgrounds/subscribe.jpg");
}
.Tocenter{
  margin-left: 47%;
}
.backgroundImage{
  background-color:#F15A29;
}
/* #happy-party{
  padding: 0px;
  margin: 0px;
} */
.happy-hour{
  background-color: grey;
  height: 10px;
  color: white;
  padding-left: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 40px;
  width: 110%;

}
.float-left{
  float: left;
}
.main-2{
  width:80%;
  height:30%;
  background-color:white;
  text-align: center;
  padding-left:20px;
  padding-top:40px;
  margin-top: 50px;
}
.customers{

width: 80%;
margin-top: 10%;
margin-bottom: 10%;
margin-left: 10%;
margin-right: 10%;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button {
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}
.button1 {
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}
.fastFood{
margin-bottom: 10%;
margin-left: 10%;
margin-right: 30%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}















}
.CUSTOMERS{
  padding: 0px;
}
