body{
  background: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  margin: 0;

}
.container-fluid {
  padding-top: 0;
}
.logo{

  padding-left: 145px;
  padding-top:100px;
  padding-right: 100px;
  padding-bottom: 200px;
  border-bottom: 100px;
  text-align: center;
}
.logo p{
  color: white;
  font-size: 18px;
}
/* .logo img{
  border-bottom: 100px;
  padding-bottom: 50px;
} */
.Breakfast{
  background: url("../images/foodtop/breakfast.jpg");
  color: white;
  text-align: center;
  vertical-align: middle;
  width: 110%;
  margin: :0px;
  padding: 65px;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.lunch{
  background: url("../images/foodtop/lunch.jpg");
  text-align: center;
  vertical-align: middle;
  width:110%;
  color: white;
  padding: 65px;
  margin: 0px;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.Dinner{
  background: url("../images/foodtop/dinner.jpg");
  margin: 0px;
  padding: 65px;
  width: 110%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}
.party-time{
  background-color:#F15A29;
  height: 10px;
  color: white;
  padding-left: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 40px;
  width: 110%;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;

}
#background-foodsBg{
  background: url("../images/backgrounds/foodsBg.jpg");
}
.footer{
  background:url("../images/backgrounds/subscribe.jpg");
}
.Tocenter{
text-align: center;
margin-top: 3%;
color: #ffffff;
}
.backgroundImage{
  background-color:#F15A29;
  height: 470px;
}
/* #happy-party{
  padding: 0px;
  margin: 0px;
} */
.happy-hour{
  height: 10px;
  color: black;
  padding-left: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 40px;
  width: 110%;
  font-family: 'Bitter', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;


}
.float-left{
  float: left;
}
.main-2{
  width:80%;
  height:30%;
  background-color:white;
  text-align: center;
  padding-left:20px;
  padding-top:40px;
  margin-top: 50px;
}
.customers{

width: 80%;
margin-top: 10%;
margin-bottom: 10%;
margin-left: 10%;
margin-right: 10%;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
font-family: 'Bitter', serif;
}
.button {
border: none;
color: #F15A29;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
}
.button1 {
background-color: white;
color: #F15A29;
border: 2px solid #F15A29;
}
.fastFood{
margin-bottom: 20%;
margin-left: 9.5%;
margin-right: 13%;
margin-top: 10%;
padding:0;
border-color: transparent;
border-style: solid;
border-width: 5px;
border-radius: 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.media{
padding: 0;
height: 636px;
width:100%;
background-image: url("../images/landing.jpg");
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
}
.logo{
margin-top: 0px;
text-align: center;
padding-top: inherit;
height: 900px;
background: url("../images/landing.jpg");

}
.YES{
margin-top: 20px;
margin-left: 20px;
background-color: transparent;
height: 50px;
width: 75px;
}
.overlayMenu {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #F15A29;
overflow-x: hidden;
transition: 0.5s;
}
.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}
.overlayMenu a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #000000;
display: block;
transition: 0.3s;
}
.overlayMenu a:hover, .overlayMenu a:focus {
color: #f1f1f1;
}
.overlayMenu .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}
.header{
margin-top: 3%;
text-align: center;
color: white;
font-size: 18px;
}
:-webkit-input-placeholder {
color: #ecf0f1;
}
:-moz-placeholder {
color: #ecf0f1;
}
:-moz-placeholder{
color:#ecf0f1;
}
:-ms-input-placeholder {
color: #ecf0f1;
}
.drinks{
  margin-bottom: 25%;
  margin-left: 6%;
  margin-right: 13%;
  margin-top: 10%;
  padding:0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.FOODSS{
padding: 0;
height: 600px;
width:100%;
background-image: url("../images/backgrounds/foodsBg.jpg");
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.anita{
height: 400px;
width: 80%;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 10%;
margin-right: 10%;
background-color: #ffffff;
}
#FOODS{
	text-align: center;
	padding: 50px;
}
.kitchen{
height: 50px;
width: 100%;
background-color: #ccc;
}
.mail{
text-align: center;
height: 200px;
width: 80%;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 10%;
margin-right: 10%;
background-color: transparent;
/* background: url("../images/backgrounds/subscribe.jpg") */

}
.formStyle {
margin: 20px;
background:rgba(250,250,250,0.5);
padding: 6px;
width: 40%;
margin-bottom: 20px;
border-bottom-width: 1px;
border-bottom-style: none;
border-bottom-color: #ecf0f1;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
}
.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:#ffffff;
font-size:28px;
font-weight: 500;
padding:6px 50px;
text-decoration:none;
border-radius: 5px;
}
.textt {
text-align: center;
margin-top: 2%;
color: #ffffff;
}
.mailArea{
padding: 0;
height: 300px;
width:100%;
background-image: url("../images/backgrounds/subscribe.jpg");
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
.TEXT{
  font-family: 'Bitter', serif;
  font-size: 18px;
}
.TEXT h2, h4{
  font-weight: bold;
}
.overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(0,0,0,0.0);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}

.HV:hover .overlay-mini {
position: absolute;
bottom: 0;
right: 0;
background:rgba(250,250,250,0.5);
overflow: hidden;
width: 100%;
height: 100%;
transition: .5s ease;
}
.HV:hover .text {
color: #000000;
}












}
.CUSTOMERS{
  padding: 0px;
}
@media screen and (max-height: 450px) {
.overlayMenu a {font-size: 20px}
.overlayMenu .closebtn {
font-size: 40px;
top: 15px;
right: 35px;
}
}
