body{
  background: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
}
.logo{

  padding-left: 320px;
  padding-top:100px;
  padding-right: 100px;
  padding-bottom: 200px;
  border-bottom: 100px;
}
.logo p{
  color: white;
}
.logo img{
  border-bottom: 100px;
}
.Breakfast{
  background: url("../images/foodtop/breakfast.jpg");
  color: white;
  text-align: center;vertical-align: middle;
  width: 110%;
  margin: :0px;
  padding: 40px;
}
.lunch{
  background: url("../images/foodtop/lunch.jpg");
  width:110%;
  color: white;
  padding: 40px;
  margin: 0px;
}
.Dinner{
  background: url("../images/foodtop/dinner.jpg");
}
.party-time{
  background-color:#F15A29;
  color: white;
  height: 80px;
  padding-left: 0px;
  overflow: hidden;

}
#background-foodsBg{
  background: url("../images/backgrounds/foodsBg.jpg");
}
.footer{
  background:url("../images/backgrounds/subscribe.jpg");
}
.Tocenter{
  margin-left: 47%;
}
.backgroundImage{
  background-color:#F15A29;
}
#happy-party{
  padding: 0px;
}
